.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    min-height: 48px;
}

.title {
    font-weight: 500;
    margin-bottom: 20px;
    @include adaptiv-value('font-size', 40, 28, 1);
}