// Подключение миксины =================================================================================================
@import 'base/mixins';
// Подключение миксины =================================================================================================
	
// Подключение шрифтов =================================================================================================
//@import 'fonts'
// Подключение шрифтов =================================================================================================

// Иконочные шрифты ====================================================================================================
//@import 'base/icons'
// Иконочные шрифты ====================================================================================================

// Импорты =============================================================================================================
@import 'base/ibg';
@import 'base/colors';
// Импорты =============================================================================================================

// Переменные ==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// Переменные ==========================================================================================================

// Обнуление, общие параметры ==========================================================================================
@import 'base/null';
@import 'base/ui';

body {
	font-family: 'Gilroy';
	font-size: 18px;
	color: $mainColorText;
}
// Обнуление, общие параметры ==========================================================================================

// Оболочка ============================================================================================================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-image: url(../img/bg.jpg);
	background-size: 50px;
  }

// Основная сетка ======================================================================================================
.container {
	max-width: 100%;
	width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex: 1 1 auto;
	z-index: 10;
	&__item {
		width: 100%;
        position: relative;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;  
		//border: 1px solid red;
	}
}

#bg {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 5;
}


// Подключаем блоки сайта =================================================================================================
@import 'blocks/header';
@import 'blocks/mainscreen';
@import 'blocks/about';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/contacts';

// Подключаем блоки сайта =================================================================================================

